.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/8ef88e03-6f89-4c75-ae51-f8da7d252358/840f3dca-333c-4038-807a-49600ed8ef0f/LK-en-20210208-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    center no-repeat;
  background-size: cover;
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}

.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 8) 0,
    rgba (0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen__body {
  z-index: 1;
  color: white;
  padding: 20px;
  position: absolute;
  top: 22%;
  margin-left: auto;
  right: 0;
  left: 0;
  margin-right: auto;
  text-align: center;
}

.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
  /* text-align: center; */
}

.loginScreen__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.loginScreen__input {
  margin: 20px;
}

.loginScreen__input > form > input {
  padding: 5px 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: 0px;
  max-width: 600px;
  color: black;
  /* margin-right: 5px; */
}

.loginScreen__getStarted {
  padding: 11px 20px;
  margin-top: 10px;
  /* position: relativess; */
  font-size: 0.9rem;
  color: white;
  background-color: #e50914;
  border: 0px;
  font-weight: 600;
  cursor: pointer;
}
